@model Practice.MVC.Models.ChefDetailsView

@{
    ViewBag.Title = "GetByIdAsync";
}

<h2>GetByIdAsync</h2>

<div>
    <h4>ChefDetailsView</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.Orders, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Orders, new SelectList(Model.Orders, "Id", "Id"), "-- Select Order --", new { @class = "form-control" })
        </div>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "PutAsync", "Chef", new { id = Model.Id }, null) |
    @Html.ActionLink("Back to List", "FindAsync")
</p>
